@import '../../config/variables';

.profile-container {
  max-width: 1400px;
  margin: auto;
  text-align: center;

  .profile-details__name {
    margin-top: 10px;
    font-size: 1.1rem;
  }

  .profile-details__avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-details__buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
  }
}

.subjects__wrapper {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 15px));
  grid-gap: 20px;

  .single-subject {
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.25s;

    .single-subject__title {
      color: #fff;
      font-size: 1.8rem;
      padding-bottom: 20px;
      text-align: center;
    }

    &:hover {
      transform: translateY(-3%);
    }
  }
}
