@import '../../config/variables';

.landing {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../assets/background.jpg');
  background-size: cover;
  background-position: center;

  .landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    max-width: 1200px;
    width: 100%;

    .landing-content__title {
      font-size: 3rem;
      text-align: center;
      padding-bottom: 10px;
    }

    .landing-content__buttons {
      display: flex;
      margin-top: 30px;
      gap: 10px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/* Responsive */
@media (max-width: 769px) {
  .landing {
    height: 100%;
    padding-bottom: 30px;
    padding-top: 30px;

    .landing-content {
      top: 0;
      left: 0;
      position: unset;
      transform: none;
      width: 100%;
      margin: auto;
      max-width: 370px;

      .landing-content__title {
        font-size: 1.9rem;
        width: 100%;
      }
    }
  }
}
