@import '../../config/variables';

.alert {
  margin-top: 20px;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  .alert-content {
    font-size: 1rem;
    color: #fff;
  }
}

@media (max-width: 769px) {
  .alert {
    .alert-content {
      font-size: 0.8rem;
    }
  }
}
